@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
src: url('../data/other/montserrat.woff2') format("woff2"),
       url('../data/other/montserrat.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

            #noise {
                
                  background: url("../data/media/images/noise2.gif");
                  display: block;
                  position: absolute;
                  z-index: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0.1;
                  filter: alpha(opacity=10);
            }
            
            html {
                  background-color: #000;
    -webkit-filter: grayscale(65%);
    -moz-filter: grayscale(65%);
    filter: grayscale(65%);
            }
            


#headerText {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #fff;
    text-shadow: 0 0 1px #000;
    position:fixed;
    bottom:0;
    margin-bottom: 50px;
width: 100%;
}


            
            #bg img {
                  position: absolute;
                  display: block;
                  z-index: -1;
                  margin: auto;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
    width: auto;
    height: 100%;
                      filter: blur(1px) ;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px) ;
    -o-filter: blur(1px);
    
            }
            
            #bg2 {
                      position: absolute;
                  display: block;
                  z-index: -1;
                  margin: auto;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;

    box-shadow: inset 0px 0px 26px 28px #000000;
-webkit-box-shadow: inset 0px 0px 26px 28px #000000;
-moz-box-shadow: inset 0px 0px 26px 28px #000000;
-o-box-shadow: inset 0px 0px 26px 28px #000000;
}
            
            #nowPlaying {
                margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 1px #000;
                  display: block;
                  position: absolute;
                  z-index: 1;
                  width: 100%;
}